{% load static %}
<!-- ================================
Start Footer
================================= -->
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://github.com/strooplab"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/insta.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/twitter.svg' %}" alt="..."></a></li>
        <li><a href="https://www.linkedin.com/in/juan-diego-garc%C3%ADa-ortega-4483941aa/"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        </ul>
        <div class="copyrightCol">
        <p>Copyright ©{% now 'Y' %} Todos los derechos resevados. Diseñado por <a href="https://www.instagram.com/strooplab/" target="_blank">Stroop Lab</a></p>
        </div>
    </div>
    </div>
</footer>
<!-- ================================
End Footer
================================= -->